#content {
	text-align:center;
}

#titlebar {
	background-color:#d1d1d1;
	height:44px;
	border-bottom:1px solid rgba(1,1,1,0.8);
	border-left:1px solid rgba(1,1,1,0.8);
	border-right:1px solid rgba(1,1,1,0.8);
	
	background-image: linear-gradient(bottom, rgb(179,179,179) 23%, rgb(233,233,233) 81%);
	background-image: -o-linear-gradient(bottom, rgb(179,179,179) 23%, rgb(233,233,233) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(179,179,179) 23%, rgb(233,233,233) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,179,179) 23%, rgb(233,233,233) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(179,179,179) 23%, rgb(233,233,233) 81%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(179,179,179)),
		color-stop(0.81, rgb(233,233,233))
	);
	
	-webkit-box-shadow:0px 0px 5px black;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	width:60%;
	left:20%;
	position:fixed;
	z-index:1;
}

#titlebar_left,
#titlebar_right {
	line-height:32px;
	font-size:12pt;
	margin: 6px 20px;
}

#titlebar_left {
	float:left;
}

#titlebar_right {
	float:right;
}

#map {
	z-index:0;
}

#slider_container {
	background-color:#d1d1d1;
	height:44px;
	border-top:1px solid rgba(1,1,1,0.8);
	border-left:1px solid rgba(1,1,1,0.8);
	border-right:1px solid rgba(1,1,1,0.8);
	
	background-image: linear-gradient(top, rgb(179,179,179) 81%, rgb(233,233,233) 23%);
	background-image: -o-linear-gradient(top, rgb(179,179,179) 81%, rgb(233,233,233) 23%);
	background-image: -moz-linear-gradient(top, rgb(179,179,179) 81%, rgb(233,233,233) 23%);
	background-image: -webkit-linear-gradient(top, rgb(179,179,179) 81%, rgb(233,233,233) 23%);
	background-image: -ms-linear-gradient(top, rgb(179,179,179) 81%, rgb(233,233,233) 23%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.81, rgb(179,179,179)),
		color-stop(0.23, rgb(233,233,233))
	);
	
	-webkit-box-shadow:0px 0px 5px black;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	width:60%;
	left:20%;
	position:fixed;
	z-index:1;
	
	top:100%;
	margin-top:-44px;
}

#slider {
	margin:15px;
	width:82%;
	float:right;
}

.action_button {
	position:inherit;
	bottom:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#6b6b6b 0%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#6b6b6b),
		to(#000000));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	z-index:20;
	height:10px;
	line-height:10px;
	margin-left:10px;
	margin-bottom:5px;
	cursor:pointer;
}

.search_button {
	height:30px;
}

#date_display_box {
	position:absolute;
	width:30%;
	left:40%;
	height:auto;
	top:40%;
	background-color:rgba(1,1,1,0.8);
	-webkit-box-shadow:0px 0px 5px rgba(1,1,1,0.8);
	z-index:5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#date_display {
	color:white;
	text-align:center;
	z-index:6;
	font-size:32px;
	line-height:44px;
	padding:10px;
}