{% extends 'frontend/base.html' %}

{% block titlebar_left %}Shockwave{% endblock %}
{% block titlebar_right %}
	<form  id="searchform" action="">
		<input id="search" type="text" name="Search" />
		
		<input type="submit" value="Search"/>
	</form>
{% endblock %}

{% block content %}
	<div id="map" style="width:100%; height:100%; overflow: visible"></div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/media/map.js"></script>
{% endblock %}
